.vs
# .NET Core / ASP.NET Core
bin/
obj/
out/
*.dll
*.exe
*.pdb
*.log
*.user
*.swp

# ASP.NET Core
*.db
*.sqlite

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Mac system files
.DS_Store

# Windows system files
Thumbs.db
Desktop.ini

# Environment-specific files
*.env

# Configuration files
appsettings.Development.json
appsettings.Production.json
secrets.json

# NuGet Packages
**/*.nupkg
*.nuget

# Logs
*.log
logs/
